<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
   <style>
    h3 {
      font-family: Roboto,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    }
    a {
      font-size: 21px;
      font-weight: 300;
      line-height: 70px;
      -webkit-letter-spacing: 3px;
      -moz-letter-spacing: 3px;
      -ms-letter-spacing: 3px;
      letter-spacing: 3px;
      text-transform: uppercase;
      display: block;
      -webkit-text-decoration: none;
      text-decoration: none;
    }
    .code {
      font-size:24px;
      font-family: monospace;
    }
    a {
      font-size: 24px;
      color: #4482FF !important;
      font-weight: 100;
      text-decoration: blink;
    }
  </style>
</head>

<div class="container">
    <div class="title"><h3><a href="https://app.educsys.de">EDUCSYS</a></h3></div>
    <div class="body">
      {{{body}}}
    </div>
</div>
</html>